<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/wrench.webp">
      <h3 class="text-center">Edit Item</h3>
      <form action="/item/saveEditedItem/{{items.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label for="name">Name of item</label>
          <input type="text" class="form-control" name="name" value="{{items.name}}" required>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" name="price" class="form-control" value="{{items.price}}" required>
        </div>
        <div class="form-group">
          <label for="productdes">Product Description</label>
          <input type="text" name="itemdes" class="form-control" value="{{items.itemdes}}" required>
        </div>
        <div class="form-group">
          <label for="otherinfo">Other Information</label>
          <input type="text" name="otherinfo" class="form-control" value="{{items.otherinfo}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>