<style>
    .row{
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      margin: 0 -16px;
    }

    .col-25{
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
    }

    .col-50 {
      -ms-flex: 50%; /* IE10 */
      flex: 50%;
    }

    .col-75 {
      -ms-flex: 75%; /* IE10 */
      flex: 75%;
    }

    .col-25,
    .col-50,
    .col-75 {
      padding: 0 16px;
    }

    .container {
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      margin-top: 50px;
    }

    input[type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    label {
      margin-bottom: 10px;
      display: block;
    }

    .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }

    .btn {
      background-color: #666;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }

    .btn:hover {
      background-color: #4CAF50;
    }

    span.price {
      float: right;
      color: grey;
    }

    .header{
      font-size: 30px;
      margin-bottom: -20px;
      margin-top: 20px;
      margin-left: 10px;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
      .row {
        flex-direction: column-reverse;
      }
      .col-25 {
        margin-bottom: 20px;
      }
    }
</style>


  <div class="col-75"></div>
    <p class = 'header'>Payment Form</p>
    <div class="container">
      <form method="POST" action="">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <i class="fa fa-user"></i>
            <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" name="fullname" value="{{fullname}}" required>
            </div>
            <i class="fa fa-envelope"></i>
            <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" value="{{email}}" required>
            </div>
            <i class="fa fa-address-card-o"></i>
            <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" value="{{address}}" required>
            </div>

            <div class="row">
              <div class="col-50">
                <div class="form-group">
                <label for="postalcode">Postal Code</label>
                <input type="text" class="form-control" name="postalcode" value="{{postalcode}}" required>
                </div>
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <div class="form-group">
            <label for="ccfullname">Full Name</label>
            <input type="text" class="form-control" name="ccfullname" value="{{ccfullname}}" required>
            </div>
            <div class="form-group">
            <label for="cardno">Credit Card Number</label>
            <input type="text" class="form-control" name="cardno" value="{{cardno}}" required>
            </div>
            <div class="form-group">
            <label for="expirymonth">Month Of Expiry</label>
            <input type="text" class="form-control" name="expirymonth" value="{{expiryyear}}" required>
            </div>

            <div class="row">
              <div class="col-50">
                <div class="form-group">
                <label for="expiryyear">Year Of Expiry</label>
                <input type="text" class="form-control" name="expiryyear" value="{{expiryyear}}" required>
                </div>
              </div>
              <div class="col-50">
                <div class="form-group">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" name="cvv" value="{{cvv}}" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" value="Place Your Order" class="btn btn-primary"/>
    </form>
    </div>
  </div>
