<!DOCTYPE html>
<html>

<style>
  *{
  font-family: "Times New Roman", Times, serif;
  }
  #header{
  font-size:35px;
  margin-left:200px;
  }
  #new{
  font-size:25px;
  margin-left:200px;
  }
  hr {
  clear: both;
  border-top: solid #dedede;
  border-width: 1px 0 0;
  margin: 30px 0;
  height: 0;
  }
  #featuredimage{
  width:1000px;
  height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  #card{
  height:300px;
  width:1000px;
  text-align:center
  }
  .grid{
  margin-left:350px;
  }
  .card-text{
  font-size:20px;
  margin-right:-270px;
  margin-top:-170px
  }
  .card-img-top{
  height:300px;
  width:300px;
  }
  #grid{
  margin-left:250px;
  }
  
  /* The sidebar menu */
  .sidenav {
  width: 160px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #666; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border: solid 1px black;
  margin-left: 200px;
  float: left;
  }

  /* The navigation menu links */
  .sidenav a {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #DDD;
  display: block;
  border: solid 1px black;
  
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
  color: #f1f1f1;
  }

  /* Style page content */
  .main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  }

  .price {
  color: grey;
  font-size: 22px;
  }

  .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  }

  .card button:hover {
  opacity: 0.7;
  }

  * {
  box-sizing: border-box;
  }

  body {
  font-family: Arial, Helvetica, sans-serif;
  }

  /* Float four columns side by side */
  .column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-right: -20px;
  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;
  margin-left: 50px;
  }

  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }

  /* Style the counter cards */
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  }
  
.text-primary{
  color:black !important;
}

  .image{
  height:150px;
  width:150px;
}
.button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
  }
  .button:hover{
      opacity:0.7;
  }
.text-info-name{
  font-size: 30px;
      margin-top: 50px;
  
}
.text-info-price{
  font-size: 20px;
}
  .card-body{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
      margin-bottom: 50px;
      display: block;
  }
  * {box-sizing:border-box}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #666;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
  animation: fade 2s 1 forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
</style>

<script>var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>


<link rel="stylesheet" type="text/css" href="style.css">

<hr style="width:75%; margin-left:12% !important; margin-right:30% !important;" />

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="/img/offer1.jpg" style="width:100%">
    <div class="text">Offer 1</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="/img/offer2.jfif" style="width:100%">
    <div class="text">Offer 2</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="/img/offer3.png" style="width:100%">
    <div class="text">Offer 3</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>



<hr style="width:75%; margin-left:12% !important; margin-right:30% !important;" />

<h2 id="header">Featured</h2>

<hr style="width:75%; margin-left:12% !important; margin-right:30% !important;" />


<div class="sidenav">
   <a class="nav-link" href="/">Home</a>
   <a class="nav-link" href="/kindergarten">Kindergarten</a>
   <a class="nav-link" href="/primary">Primary</a>
   <a class="nav-link" href="/secondary">Secondary</a>
   <a class="nav-link" href="/tertiary">Tertiary</a>
   <a class="nav-link" href="/stationery">Stationery</a>
   <a class="nav-link" href="/others">Others</a>
</div>

<div class="container">
{{#if items}}
		{{#each items}}
				<div class="card-body">
						<div >
							<img class ='image' src="{{otherinfo}}">
						</div>
						<div>
							<h1 class="text-info-name">
								{{name}}
							</h1>
						</div>
						<div>
							<p class="text-info-price">
								${{price}}
							</p>
						</div>
                        <div class='button'>
                        <a href="/item/view/{{id}}" class="button">
								View Items
						</a>
                        </div>
				</div>
		{{/each}}
			</div>
		</div>	
</div>

{{else}}
	<h3>No Items</h3>
{{/if}}


</body>
</html>