<style>
	.container{
		margin-top: 100px;
		height: 50px;
	}
	.text-primary{
		color:black !important;
	}
	.image{
		height:150px;
		width:150px;
	}
	.button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 10px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
		margin-top: 55px;
    }
	.text-info-name{
		font-size: 20px;
		margin-top: 55px;
		margin-left: 100px;
	}
	.text-info-buttons{
		margin-left: 100px;
	}
	.text-info-price{
		font-size: 20px;
		margin-top: 55px;
		margin-left: 100px;
	}
	.text-info-des{
		font-size: 20px;
		margin-top: 55px;
		margin-left: 100px;
	}
	.text-info-cat{
		font-size: 20px;
		margin-top: 55px;
		margin-left: 100px;
	}
</style>

<div class="container">
{{#if items}}
	<div class="card card-body">
		<h3 class="text-primary">Items In Shop</h3>
		{{#each items}}
			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-body">
					<div class="row">
						<div >
							<img class ='image' src="{{otherinfo}}">
						</div>
						<div>
							<p class="text-info-name">
								{{name}}
							</p>
						</div>
						<div>
							<p class="text-info-price">
								${{price}}
							</p>
						</div>
						<div>
						<div class = "text-info-buttons">
							<a href="/item/removefromcart/{{id}}" class="button" data-toggle="confirmation"
							   data-title="Are you sure you want to remove this item from the cart?">
								Delete
							</a>
						</div>	
					</div>
				</div>
			</div>
		{{/each}}
			</div>
		</div>
		<form action="/payment/charge" method="POST">
        <script src = "https://checkout.stripe.com/checkout.js"
        class = 'stripe-button'
        data-key = 'pk_test_51H0n7DFaCcHVGhNjnGkDs7ZtKJn1WrFmNXkTzbullnl1SxoAHZ5dkFSlFHrQSttxKd6cxirLDQIXc0oMMAfgjrFr00tKEr9OdZ'
        data-name = 'Payment'
        data-description = 'Payment for Cart'
        data-locale = "auto"
        data-currency = 'sgd'
        >
        </script>
        <input type="hidden" name="chargeAmount" value='{{price}}'>
        </form>
	</div>
</div>

{{else}}
	<h3>Your Cart Is Empty!</h3>
{{/if}}